:root {--primary-color: #333;--secondary-color: #ccc;--background-color: #f0f0f0;--accent-color: #ff9900;--dark-gray: #606060;--light-gray: #ccc;
	   --maroon: maroon;--gold: gold;--firebrick: firebrick;}
body {font-family: 'Courier New', monospace;margin: 0;background-color: #fff;display: flex;justify-content: center;align-items: center;}
#splash-screen {position: fixed;top: 0;left: 0;width: 100%;height: 100vh;background-color: #fff;display: flex;justify-content: center;align-items: center;
		z-index: 1000;}
#splash-screen img {width: 200px;height: 200px;}
.face{object-fit: contain; width: 100px; height: 105px;}
.faceimg{width: 60%; height: 60%; border-radius: 50%;}
.robot-body {display: flex;flex-direction: column;align-items: center;position: absolute;top: 30%;left: 50%;transform: translate(-50%, -50%);}
.robot-body.weight {display: flex;flex-direction: column;align-items: center;position: relative;}
.robot-torso {width: 250px;height: 370px;background: linear-gradient(to bottom, #fff, #cdcdcd);border-radius: 10px;position: absolute;top: 100px;left: 50%;
  transform: translateX(-50%);box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);z-index: 2000;}
.robot-head {width: 120px;height: 90px;background: linear-gradient(#9a9a9a,  #000000);border-radius: 50%;position: absolute;top: 0;left: 50%;
  transform: translateX(-50%);border-bottom: 12px solid #666;border-radius: 30%;}
.robot-arms, .robot-legs {display: flex;justify-content: space-between;width: 180px;position: absolute;}
.robot-arms {top: 90px;}
.robot-legs {top: 300px;}
.robot-arm, .robot-leg {width: 60px;height: 180px;background: linear-gradient(to bottom, #bbb, #000);border-radius: 6px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	position: relative;background-size: 6px 6px;}
.left-arm, .left-leg {left: -94px;}
.right-arm, .right-leg {right: -94px;}
.instruction-container {display: flex;flex-wrap: wrap;justify-content: space-between;width: 10%;height: 25%;position: fixed;z-index: 10; background: #606060;
	border-radius: 10%;top: 65%;left: 85%;}
.robot-text {position: absolute;top: 10%;left: 50%;transform: translate(-50%, -50%);font-size: 16px;font-weight: bold;color: #000000b6;text-align: center;
	z-index: 5000;margin-bottom: 30px;}
.instruction-box {position: fixed;top: 0;left: 0;z-index: 2;background-color: #f0f0f0;padding: 10px;border: 1px solid #ddd;width: 285px;height: 100%;
	font-size: 14px !important;max-height: 96vh; overflow-y: auto;overflow-x: hidden;scrollbar-width: thin; scrollbar-color: #888 #f0f0f0;transform: scale(1);
	transform-origin: 0 0;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;text-size-adjust: none;}
.instruction-box::-webkit-scrollbar {width: 6px;}
.instruction-box::-webkit-scrollbar-thumb {background-color: #888;border-radius: 10px;}
.instruction-box::-webkit-scrollbar-thumb:hover {background-color: #555;}
.robot-cylinder {width: 370px;height: 10px;background: linear-gradient(to bottom, #7a7a7a, #000000);border-radius: 10%;position: absolute;top: 470px;left: 50%;
	transform: translateX(-50%);z-index: 1500;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);}
.robot-turbo {top: 630px;left: 0%;transform: translateX(-50%);z-index: 900;}
.turbo-indicator {width: 40px;height: 40px;background: linear-gradient(#ff0000, #ff7f00, #ffff00); top:-150px; left: 17px;animation: fire-pulse 2s infinite;
	transform-origin: bottom right;border: 1px solid #32557f;border-radius: 0 50% 0% 50%;transform: rotate(45deg); opacity: 0; position: relative;}
.turbo-active {opacity: 1; animation: turbo-flicker 2s infinite;}
@keyframes turbo-flicker {
  0% {opacity: 1;}
  20% {opacity: 0.7;}
  40% {opacity: 0.4;}
  60% {opacity: 0.7;}
  80% {opacity: 1;}
  100% {opacity: 0.7;}
}
#robot {position: absolute;transition: all 0.8s ease-in-out;}
#workstation-status{font-size: 12px; color: #00ff66; opacity: 0.8; padding-top: 4px; text-align: center;}
#mechanical-wheel-container{position: relative; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; z-index: 1;  margin-top: 40px;}
#toggleInstructions {position: fixed;top: 10px;left: 10px;z-index: 9999;background: #000;color: #fff;border: none;border-radius: 7px;
  width: 200px;height: 40px;font-size: 18px;cursor: pointer;transition: transform 0.2s ease;}
#toggleInstructions:hover{background: #424242;color: #fff;}
#instructionsBox {display: none;}
::-webkit-scrollbar {display: none;}
* {scrollbar-width: none;-ms-overflow-style: none;}
.vertical-text{position: absolute; top: 0; left: 5px; font-size: 40px; font-weight: bold; color: #3f3f3f;text-align: center; 
  line-height: 1.2; margin-left: 5px;}
.codex-harish-creations-robot{color: #FFFFFF; background-color: #808080; padding: 10px; border-radius: 5px;}
.by-harish-creations{color: #808080; background-color: #FFFFFF; padding: 5px; border: 1px solid #808080; border-radius: 5px;}
.wheel-container{position: relative; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; z-index: 1;}
.outer-workstation-status{width: 145px; height: 145px; color: #00ff66; border: 2px solid #00ff66; border-radius: 20px; background-color: #242424;}
